<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath:/META-INF/spring/resources/application-context.xml" />
    <import resource="classpath:/META-INF/spring/resources/message-context.xml" />
    <import resource="classpath:/META-INF/spring/data/repository-context.xml" />
    <import resource="classpath:/META-INF/spring/service/service-context.xml" />
    <import resource="classpath:/META-INF/spring/web/data-source-context.xml" />
    <import resource="classpath:/META-INF/spring/web/transaction-context.xml" />
    <import resource="classpath:/META-INF/spring/web/security-context.xml" />

</beans>
